body {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa; /* Bootstrap's light gray background */
}

#question {
  font-size: 2rem;
}

#answer {
  font-size: 6rem;
  color: #dc3545; /* Bootstrap's red color */
  margin-top: 20px;
}

/* Class to hide the cursor */
.cursor-hidden .ti-cursor {
  display: none;
}
